* {
    padding: 0px;
}

body {
    margin: 0px;
    line-height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #eceef1;
}

#page-header {
    padding: 0px 15px;
    border-bottom: 2px solid #eceef1;
    background-color: white;
}

#logo {
    padding: 20px 15px;
}

#main-menu {
    margin-top: 4px;
}

#side-menu {
    margin-top: 3px;
}

.material-icons-outlined {
     vertical-align: middle;
}

#main-menu > ul > li, #side-menu ul li {
    margin: 0 9px;
    display: inline;
    font-weight: bold;
    color: #3e4348;
    font-size: 15px;
}


.header-flex-container {
    display:flex;
    justify-content: space-evenly;
}

nav.header-flex-container {
    flex: 8;
}

#logo {
    flex: 1;
    text-align: left;
}

#main-menu {
    flex: 6;
    text-align: center;
}

#side-menu {
    flex: 2;
    text-align: right;
}

#main-menu ul, #side-menu ul {
    list-style: none;
}

#main-menu .menu-list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-list a {
       text-decoration: none;
       color: black;
       font-weight: normal;
       padding: 30px;
       text-align: center;
}

.menu-list li {
    height: 40px;
}

.menu-list li:hover {
    background-color: lightgray;
}

#main-menu .menu-item:hover .menu-list {
    display: block;
}