* {
    padding: 0px;
}

body {
    margin: 0px;
    line-height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #fff;
}

#page-header {
    padding: 0px 15px;
    border-bottom: 2px solid #eceef1;
    background-color: white;
}

#logo {
    padding: 20px 15px;
}

#main-menu {
    margin-top: 4px;
}

#side-menu {
    margin-top: 3px;
}

.material-icons-outlined {
     vertical-align: middle;
}

#main-menu > ul > li, #side-menu ul li {
    margin: 0 9px;
    display: inline;
    font-weight: bold;
    color: #3e4348;
    font-size: 15px;
}

@media(min-width:768px) {
    .header-flex-container {
        display:flex;
        justify-content: space-evenly;
    }
}

nav.header-flex-container {
    flex: 8;
}

#logo {
    flex: 1;
    text-align: left;
}

#main-menu {
    flex: 6;
    text-align: center;
}

#side-menu {
    flex: 2;
    text-align: right;
}

#main-menu ul, #side-menu ul {
    list-style: none;
}

#main-menu ul li {
    position: relative;
}

#main-menu .menu-list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0px;
    width: max-content;
}

.menu-list a {
       text-decoration: none;
       color: black;
       font-weight: normal;
       padding: 30px;
       text-align: center;
}

.menu-list li {
    height: 40px;
}

.menu-list li:hover {
    background-color: lightgray;
}

#main-menu .menu-item:hover .menu-list {
    display: block;
}

main:nth-child(even) {
    background-color: #eceef1;
}


.container {
    width: 70%;
    margin:auto;
}

#banner {
    text-align: center;
    height: 400px;
}

#heading {
    padding-top: 50px;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: #3e4348;
}

#sub-heading {
    font-size: 16px;
    text-transform: uppercase;
}

#main-heading {
    font-size: 44px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.buy_button {
    padding: 13px 20px;
    background-color: #49a4d5;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}